:root {
    --bg-base: #0a0a0f;

    --text-primary: #f5f3ff;
    --text-secondary: #a1a1aa;
    --text-muted: #6b7280;

    --purple: #4c1d95;
    --purple-highlighted: #7c3aed;

    --gray-100: #0f0f13;
    --gray-200: #19191e;
    --gray-300: #282830;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    color: var(--text-primary);
}

/* Background */
.hero-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: #000;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
        linear-gradient(-30deg, var(--purple) 0%, var(--bg-base) 100%);
    background-size: 6rem 6rem, 6rem 6rem, 100% 100%;
}

/* Topbar */
.topbar {
    width: 100%;
    height: 4rem;
    padding: 0px 2rem;

    position: sticky;
    top: 0;
    left: 0;

    backdrop-filter: blur(10px);
}

.topbar.app-variant {
    backdrop-filter: none;
    background-color: var(--gray-100);
}

.topbar-container {
    width: 50rem;
    height: 100%;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar.app-variant .topbar-container {
    width: 100%;
}

.ie74-link {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-primary);
}

.app-name {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

/* ========== LANDING ========== */
/* Hero */
.hero-container {
    width: 100%;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding: 4rem 2rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    margin-bottom: 1.5rem;

    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Raleway', sans-serif;
}

.hero p {
    font-size: 1.5rem;
    color: var(--text-secondary);
}

/* Drop zone */
#drop-zone {
    width: 50rem;
    max-width: 90%;
    height: 20rem;
    margin: 2rem;
    padding: 3rem;

    border-radius: 2rem;
    backdrop-filter: blur(10px);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 4.5rem 1.8rem rgba(255, 255, 255, 0.06) inset;
    transition: transform 0.1s ease;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#drop-zone.dragover {
    transform: scale(1.03);
    border: 2px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0px 0px 4.5rem 1.8rem rgba(255, 255, 255, 0.06) inset,
        0px 0px 3rem 0.7rem rgba(255, 255, 255, 0.06);
}

.drop-bg {
    pointer-events: none;
}

#drop-zone.dragover .drop-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    left: -1.98rem;
    z-index: -1;

    background-image: repeating-linear-gradient(-45deg,
            rgba(255, 255, 255, 0.06) 0 0.7rem,
            transparent 0.7rem 1.4rem);

    animation: stripes 2s linear infinite;

}

@keyframes stripes {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(1.98rem);
    }
}

#drop-zone h1 {
    pointer-events: none;
    color: var(--text-secondary);
}

#drop-zone i {
    margin: 1rem 0px;

    font-size: 3rem;
    color: var(--text-secondary);
    pointer-events: none;
}

#drop-zone p {
    pointer-events: none;
    color: var(--text-muted);
}

#drop-zone a {
    pointer-events: all;
    color: var(--text-muted);
}

#drop-zone a:hover {
    color: var(--text-secondary);
}

/* ========== APP ========== */
.app-section {
    width: 100%;
    background-color: var(--gray-100);
}

.app-container {
    width: 55%;
    height: 100%;
    margin: 0px auto;
    padding: 0px 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

fieldset {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--gray-200);

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
}

legend {
    color: var(--text-secondary);
}

.image-modes-container label,
#slice-label {
    padding: 1rem;

    background-color: var(--gray-200);
    border-radius: 1rem;
    border: 2px solid var(--gray-100);
    cursor: pointer;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.desc {
    font-size: 0.7rem;
    color: var(--text-secondary);
}

/* ##### General settings ##### */
.general-settings-container {
    width: 100%;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.general-settings-container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#border-input {
    width: 50%;
    padding: 0.25rem 0.5rem;

    text-align: right;
    font-size: 1rem;
    color: var(--text-primary);
    background-color: var(--gray-100);
    border: 2px solid var(--gray-200);
    border-radius: 1rem;
    outline: none;
    font-family: 'Sora', sans-serif;
}

#border-input:focus {
    border: 2px solid var(--purple);
}

/* Chrome, Safari */
#border-input::-webkit-outer-spin-button,
#border-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#border-input {
    -moz-appearance: textfield;
    appearance: textfield;
}

#color-input {
    width: 50%;
    padding: 0.25rem;

    background-color: var(--gray-100);
    border: 2px solid var(--gray-200);
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
}

#color-input:focus {
    border: 2px solid var(--purple);
}

/* Chrome, Safari */
#color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-input::-webkit-color-swatch {
    border: none;
    border-radius: 0.75rem;
}

/* Firefox */
#color-input::-moz-color-swatch {
    border: none;
    border-radius: 0.75rem;
}

#ratio-input {
    width: 50%;
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--gray-200);
    border-radius: 1rem;
    font: inherit;
    text-align: right;

    background-color: var(--gray-200);
    color: var(--text-primary);
    outline: none;
    cursor: pointer;
}

#ratio-input:focus {
    border-color: var(--purple);
}

#slice-label:has(#slice-h-input:disabled) {
    cursor: not-allowed;
}

#slice-label div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#slice-h-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--gray-100);
    margin: 0;

    font: inherit;
    color: var(--purple);
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--gray-200);
    border-radius: 0.5rem;
    cursor: pointer;

    flex-shrink: 0;

    display: grid;
    place-content: center;
}

#slice-h-input:disabled {
    color: var(--text-muted);
    cursor: not-allowed;
}

#slice-h-input::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    transform: scale(0);
    border-radius: 0.12em;
    box-shadow: inset 1em 1em var(--purple);
}

#slice-h-input:hover::before {
    box-shadow: inset 1em 1em var(--purple-highlighted);
}

#slice-h-input:disabled::before {
    box-shadow: inset 1em 1em var(--text-muted);
}

#slice-h-input:checked::before {
    transform: scale(1);
}

.slider-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#n-input {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 0.5rem;
    background: var(--gray-200);
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
}

/* Thumb - Chrome, Safari */
#n-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: var(--purple);
    cursor: pointer;
}

/* Thumb - Firefox */
#n-input::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background: var(--purple);
    border: none;
    cursor: pointer;
}

#n-input::-webkit-slider-thumb:hover {
    background-color: var(--purple-highlighted);
}

#n-input::-moz-range-thumb:hover {
    background-color: var(--purple-highlighted);
}

/* Track - Firefox */
#n-input::-moz-range-track {
    background: var(--gray-200);
    height: 0.5rem;
    border-radius: 1rem;
}

/* Disabled */
#n-input:disabled {
    cursor: not-allowed;
}

#n-input:disabled::-webkit-slider-thumb {
    background-color: var(--text-muted);
    cursor: not-allowed;
}

#n-input:disabled::-moz-range-thumb {
    background-color: var(--text-muted);
    cursor: not-allowed;
}

.slider-container .desc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#n-value {
    font-size: 1rem;
    color: var(--text-primary);
}

/* ##### Image modes ##### */
.image-modes-container {
    width: 100%;

    display: flex;
    gap: 1rem;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.image-modes-container label:has(input[type="radio"]:checked) {
    border: 2px solid var(--purple);
}

/* Preview */
.preview-container {
    width: 100%;
    height: 25rem;

    overflow-x: auto;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.preview-item {
    height: 100%;
}

/* Download */
#process-btn {
    padding: 0.5rem 2rem;

    background-color: var(--gray-100);
    border-radius: 0.5rem;
    border: 2px solid var(--purple);
    outline: none;
    cursor: pointer;
    color: var(--text-primary);
    font-family: inherit;
}

#process-btn:hover {
    background-color: var(--purple);
}

#process-btn:active {
    background-color: var(--purple-highlighted);
    border: 2px solid var(--purple-highlighted);
}

/* ========== Footer ========== */
footer {
    height: 200px;
    background-color: #000;
}

/* ========== Responsive ========== */
@media(max-width: 700px) {

    .general-settings-container,
    .image-modes-container {
        flex-direction: column;
    }

    .topbar, .app-container{
        padding: 0px 1rem;
    }
}

@media(max-width: 1200px) {
    .topbar-container {
        width: 100%;
    }

    .app-container {
        width: 100%;
    }
}